@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

:root {
  /*Color*/
  --white: #ffffff;
  --black: #000000;
  --gray-200: #D8D8D8;
  --gray-300: #C5C6CE;
  --navy-600: #5E607A;
  --navy-950: #00001A;
  --gold-400: #E9AA52;
  --red-500: #F15D51;

  /*Font*/
  --ff-base: "Inter", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --text-preset-1: var(--fw-extra-bold) 3.5rem/3.5rem var(--ff-base);
  --text-preset-2: var(--fw-extra-bold) 2.5rem/2.5rem var(--ff-base);
  --text-preset-3: var(--fw-bold) 2rem/2rem var(--ff-base);
  --text-preset-4: var(--fw-extra-bold) 1.25rem/1.5rem var(--ff-base);
  --text-preset-5: var(--fw-extra-bold) 1.125rem/1.5rem var(--ff-base);
  --text-preset-6: var(--fw-regular) 0.9375rem/1.625rem var(--ff-base);
  --text-preset-7: var(--fw-bold) 0.875rem/1.5rem var(--ff-base);
  --text-preset-7-letter-spacing: 0.27375rem;

  /*Spacing*/
  --space-100: 0.5rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-800: 4rem;
  --space-1100: 5.5rem;

  /*Container*/
  --container-width: 68.75rem;
  --container-padding-x: 1rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.75rem 0 5rem 0;
  font: var(--text-preset-6);
  color: var(--navy-600);
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 2.813rem;
}

.logo:focus-visible {
  outline: 2px dashed var(--red-500);
  outline-offset: 4px;
}

.menu, .menu-overlay {
  display: none;
}

.menu-toggle {
  max-width: 2.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-toggle img {
  object-fit: cover;
}

.menu-toggle:focus-visible {
  outline: 2px dashed var(--red-500);
  outline-offset: 4px;
}

.content {
  flex: 1;
  padding: var(--space-400) 0 var(--space-800) 0;
}

.content__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-800);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.hero__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-300);
  text-align: start;
}

.hero__title {
  font: var(--text-preset-2);
  color: var(--navy-950);
}

.button-link {
  padding: var(--space-100) var(--space-400);
  font: var(--text-preset-7);
  letter-spacing: var(--text-preset-7-letter-spacing);
  text-transform: uppercase;
  color: var(--navy-950);
  background-color: var(--red-500);
  transition: background-color 0.2s, color 0.2s;
}

.button-link:focus-visible {
  outline: 2px dashed var(--navy-950);
  outline-offset: 4px;
}

.new {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  padding: 1rem var(--space-300);
  background-color: var(--navy-950);
}

.new__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.new__item:not(:last-child) {
  padding-bottom: var(--space-400);
  border-bottom: 1px solid var(--navy-600);
}

.new-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.new-card__title {
  font: var(--text-preset-4);
  color: var(--white);
}

.new-card__link {
  transition: color 0.2s;
}

.new-card__link:focus-visible {
  outline: 2px dashed var(--gold-400);
  outline-offset: 4px;
}

.new__title {
  font: var(--text-preset-3);
  color: var(--gold-400);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.footer-card {
  display: flex;
  align-items: center;
  gap: var(--space-300);
}

.footer-card__header {
  max-width: 6.25rem;
  width: 100%;
}

.footer-card__body {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.footer-card__tag {
  font: var(--text-preset-3);
  color: var(--red-500);
}

.footer-card__title {
  font: var(--text-preset-5);
  color: var(--navy-950);
}

.footer-card__link {
  transition: color 0.2s;
}

.footer-card__link:focus-visible {
  outline: 2px dashed var(--red-500);
  outline-offset: 4px;
}

@media (hover: hover) {
  .menu-toggle:hover {
    background-color: var(--red-500);
  }

  .button-link:hover {
    color: var(--white);
    background-color: var(--navy-950);
  }

  .new-card__link:hover {
    color: var(--gold-400);
  }

  .footer-card__link:hover {
    color: var(--red-500);
  }
}